/* This is just to make things look a bit better */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.2em;
  background-color: #f3f3f3; /* Blue */
}

h2.subtitle {
  font-size: 0.8em;
  padding-left: 10px;
  color: #666;
}

/* Basic styling for the step links */
a.step-link {
  padding: 5px;
  background-color: #3b3b3b;
  color: #ffffff;
  text-decoration: none;
}

a.step-link:hover,
a.active {
  color: #3b3b3b;
  background-color: goldenrod;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#vis-tittle {
  display: flex;
  flex-direction: column; /*垂直对齐*/
  justify-content: center; /*垂直居中*/
  align-items: center; /*元素居中*/
  height: 10vh;
}
#vis-nav {
  display: flex;
  justify-content: center;
  z-index: 20;
  bottom: 0;
  position: absolute;
}
/* 相对定位*/
#vis-container {
  width: 100%;
  position: relative;
}

/* 每个解释部分前置 */
#annotation-steps {
  z-index: 40;
}

/* 使用绝对定位脱离文档流 */
#vis-canvas {
  width: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: #ffffff;
  height: 80vh;
  position: absolute;
  left: 0;
  top: 0;
}

/* By default, all annotation-steps are hidden. */
.annotation-step {
  display: none;
}

/* Finally we can position each annotation exactly how
 * we want. */
.Grid {
  display: flex;
  justify-content: space-between;
}
.Grid-1of3 {
  height: calc(80vh / 3);
}
.Grid-center {
  align-items: center;
}
.Grid-top {
  align-items: flex-start;
}
.Grid-low {
  align-items: flex-end;
}

.Grid-cell {
  flex: 1;
  background-color: #d6e9fe;
}
.left-cell,
.right-cell {
  flex: 0 20%;
}

.center-cell {
  flex: 0 40%;
}

/*数据图表的定义*/
.axis path,
.axis line {
  fill: none;
  stroke: rgb(197, 197, 197);
  shape-rendering: crispEdges;
}

.axis text {
  fill: rgb(128, 128, 128);
}

.axis text {
  font-size: 12px;
}

.highlight {
  fill: rgb(55, 169, 64);
}

.normal {
  fill: rgb(168, 215, 163);
}

/*Defining chart stylings*/

.circle {
  fill-opacity: 0.3;
  stroke-width: 0.1;
}

circle:hover {
  opacity: 0.7;
}

circle {
  mix-blend-mode: multiply;
}
